@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#091421] text-[#D9E3F6];
    font-family: 'Manrope', sans-serif;
  }
}

@layer utilities {
  .glass {
    background: rgba(22, 32, 46, 0.6);
    backdrop-filter: blur(12px);
  }
}
